body {
	background-color: #373637; /*#0c1115;*/
	font-family: 'Roboto', sans-serif;
	max-width: 960px;
	margin: 0 auto;
	color: #DAC4AA; /*beige;*/
    /*background: url("../css/bg-scuffedstatic_dark_1920x1234.jpg"); 
	*/
   
}

/*grey - #5e5e5e
  red - #9a0606 
  orange - #852f00 */
header {
	width: 100%;
	border-bottom: 1px solid white;
	margin-bottom: 40px;
}

#logo {
	width: 100%;
	height: 120px;
	background: url("../images/logo-pizzario.png") center no-repeat;
	padding: 0;
	margin: 0;
}

header p {
	width: 100%;
	color: darkred;#852f00;
	letter-spacing: 1px;
	float: right;
	text-align: right;
	margin: auto 0;
	font-size: 25px;
}

header::after {
    content: "";
    clear: both;
	display: table;
}

input {
	margin-bottom: 20px;
	line-height: 30px;
}

.checkbox {
	margin-bottom: 10px;
}

label {
	line-height: 30px;
	font-size: 0.9em;
	font-weight: 600;
	margin-bottom: 20px;
	text-align: right;
	vertical-align: middle;
	letter-spacing: 0.05em;
	padding-left: 2px !important;;
}

fieldset {
	border: none;
	width: 75%;
	margin: 0 auto;
}

select {
	margin-bottom: 20px;
}

.req {
	position: relative;
	top: -5px;
	color: red;
	margin-right: 3px;
}

.last {
	font-style: italic;
	letter-spacing: 1px;
	margin-top: 0;
}

.markup {
	color: #59AEA0;
}

.section {
	border: 1px solid grey;
	padding: 10px;
	margin: 5px;
}

.section h3 {
	margin-top: 0;
	border-bottom: 1px solid #DAC4AA;;
}

.section p {
	margin-top: 0;
}

.section p:nth-of-type(1) {
	margin-bottom: 0;
}

.section p:nth-of-type(3) {
	margin-bottom: 0;
}

.section p:nth-of-type(5) {
	margin-bottom: 0;
	font-weight: 700;
}

h2 {
	color: orange; /*#852f00;*/
	margin-bottom: 0;
}

hr {
	border-color: #9a0606;
}

footer {
	margin-top: 30px;
	border-top: 1px solid #9a0606;
	text-align: center;
}